In [1]:
load_ext sql

In [2]:
sql sqlite:///data_set.db

# Müşteri Adreslerinin İçerisinde 'da' ifadesi geçen Tüm Adresleri Yazdırınız

In [3]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///data_set.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [4]:
%%sql
SELECT CustomerID, CustomerName, Address FROM Customers WHERE Address LIKE '%da%';

 * sqlite:///data_set.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Avda. de la Constitución 2222'),
 (13, 'Centro comercial Moctezuma', 'Sierras de Granada 9993'),
 (15, 'Comércio Mineiro', 'Av. dos Lusíadas, 23'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Jardim das rosas n. 32'),
 (54, 'Océano Atlántico Ltda.', 'Ing. Gustavo Moncada 8585 Piso 20-A'),
 (60, 'Princesa Isabel Vinhoss', 'Estrada da saúde n. 58'),
 (61, 'Que Delícia', 'Rua da Panificadora, 12'),
 (62, 'Queen Cozinha', 'Alameda dos Canàrios, 891'),
 (66, 'Reggiani Caseifici', 'Strada Provinciale 124'),
 (80, 'Tortuga Restaurante', 'Avda. Azteca 123'),
 (82, "Trail's Head Gourmet Provisioners", '722 DaVinci Blvd.')]

In [5]:
#bunun sayısını nasıl bulabiliriz?

# Germany/Berlin'de Yaşayan Müşterilerin İsimleri Nelerdir?

In [6]:
%%sql
SELECT CustomerName From Customers WHERE Country="Germany" AND City="Berlin";

 * sqlite:///data_set.db
Done.

[('Alfreds Futterkiste',)]

# Canada'da Yaşayıp İsminde 'in' İfadesi Geçen Müşterilerileri Yazdiriniz

In [7]:
%%sql
SELECT * FROM Customers WHERE Country="Canada" AND CustomerName LIKE '%in%';

 * sqlite:///data_set.db
Done.

[(42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada')]

# Fiyati 40-90 Arasında Olan Ürünlerin Fiyatlarını ve İsimlerini Yazdırınız

In [8]:
%%sql
SELECT * FROM Products LIMIT 2;

 * sqlite:///data_set.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)]

In [9]:
%%sql
SELECT PRoductName, Price FROM Products WHERE Price BETWEEN 40 AND 90;

 * sqlite:///data_set.db
Done.

[('Northwoods Cranberry Sauce', 40),
 ('Genen Shouyu', 43),
 ('Carnarvon Tigers', 62),
 ('Teatime Chocolate Biscuits', 43),
 ("Sir Rodney's Marmalade", 81),
 ('Guaraná Fantástica', 43),
 ('Schoggi Schokolade', 43),
 ('Rössle Sauerkraut', 45),
 ('Geitost', 43),
 ('Boston Crab Meat', 43),
 ('Ipoh Coffee', 46),
 ('Røgede sild', 43),
 ('Zaanse koeken', 43),
 ('Manjimup Dried Apples', 53),
 ('Ravioli Angelo', 43),
 ('Raclette Courdavault', 55),
 ("Sirop d'érable", 43),
 ('Tarte au sucre', 49),
 ('Vegie-spread', 43),
 ('Louisiana Fiery Hot Pepper Sauce', 43),
 ('Scottish Longbreads', 45)]

# Fıyatı 30₺ den büyük olan ürünlerin isimlerini, fiyatlarını ve fiyatlatın karesinin yazdırınız.

In [15]:
%%sql
SELECT ProductName urun_adi, Price fiyat, Price*2 fiyat_kare FROM Products WHERE Price > 30;

 * sqlite:///data_set.db
Done.

[('Northwoods Cranberry Sauce', 40, 80),
 ('Mishi Kobe Niku', 97, 194),
 ('Ikura', 31, 62),
 ('Queso Manchego La Pastora', 38, 76),
 ('Genen Shouyu', 43, 86),
 ('Alice Mutton', 39, 78),
 ('Carnarvon Tigers', 62, 124),
 ('Teatime Chocolate Biscuits', 43, 86),
 ("Sir Rodney's Marmalade", 81, 162),
 ('Guaraná Fantástica', 43, 86),
 ('Gumbär Gummibärchen', 31, 62),
 ('Schoggi Schokolade', 43, 86),
 ('Rössle Sauerkraut', 45, 90),
 ('Thüringer Rostbratwurst', 123, 246),
 ('Gorgonzola Telino', 435, 870),
 ('Mascarpone Fabioli', 32, 64),
 ('Geitost', 43, 86),
 ('Côte de Blaye', 263, 526),
 ('Boston Crab Meat', 43, 86),
 ('Ipoh Coffee', 46, 92),
 ('Røgede sild', 43, 86),
 ('Zaanse koeken', 43, 86),
 ('Manjimup Dried Apples', 53, 106),
 ('Perth Pasties', 32, 64),
 ('Gnocchi di nonna Alice', 38, 76),
 ('Ravioli Angelo', 43, 86),
 ('Raclette Courdavault', 55, 110),
 ('Camembert Pierrot', 34, 68),
 ("Sirop d'érable", 43, 86),
 ('Tarte au sucre', 49, 98),
 ('Vegie-spread', 43, 86),
 ('Wimmers gute Semmelknödel', 33, 66),
 ('Louisiana Fiery Hot Pepper Sauce', 43, 86),
 ('Scottish Longbreads', 45, 90),
 ('Gudbrandsdalsost', 36, 72),
 ('Mozzarella di Giovanni', 34, 68)]

In [16]:
#direkt tablonun adını kısaltsaydık o zaman tüm satır boyunca yeni koısa adıyla kullanırdık ama burada değişkenin adını değiştiriyoruz