# 3 SQL3 KÜTÜPHANESİ

In [23]:
import pandas as pd
import sqlite3

In [24]:
connection=sqlite3.connect("data_set.db")
c=connection.cursor()

In [25]:
d=pd.read_sql("""SELECT 
COUNT(CustomerID) cus_num, Country 
FROM Customers 
GROUP BY Country;
""",connection)
d

    cus_num      Country
0         3    Argentina
1         2      Austria
2         2      Belgium
3         9       Brazil
4         3       Canada
5         2      Denmark
6         2      Finland
7        11       France
8        11      Germany
9         1      Ireland
10        3        Italy
11        5       Mexico
12        1       Norway
13        1       Poland
14        2     Portugal
15        5        Spain
16        2       Sweden
17        2  Switzerland
18        7           UK
19       13          USA
20        4    Venezuela

In [26]:
type(d)
#woooww evvett data  grame aslında sql ile yazıp daha sonra data frame çevirmke yerine pandas ile direkt data frame olarak aldık data base den

pandas.core.frame.DataFrame

In [40]:
c.execute("SELECT CustomerName FROM Customers LIMIT 10")

In [28]:
#execute ile oluşturdun anacaj buraya öçekmek gormek için fetch edeceğiz :))

In [41]:
c.fetchone()
#fetchone ile tek değer alabilirsin

('Alfreds Futterkiste',)

In [42]:
c.fetchall()

[('Ana Trujillo Emparedados y helados',),
 ('Antonio Moreno Taquería',),
 ('Around the Horn',),
 ('Berglunds snabbköp',),
 ('Blauer See Delikatessen',),
 ('Blondel père et fils',),
 ('Bólido Comidas preparadas',),
 ("Bon app'",),
 ('Bottom-Dollar Marketse',)]

In [43]:
a=c.fetchall()
type(a)

list

In [44]:
for i in c.execute("SELECT CustomerName FROM Customers LIMIT 10"):
    print(i)

('Alfreds Futterkiste',)
('Ana Trujillo Emparedados y helados',)
('Antonio Moreno Taquería',)
('Around the Horn',)
('Berglunds snabbköp',)
('Blauer See Delikatessen',)
('Blondel père et fils',)
('Bólido Comidas preparadas',)
("Bon app'",)
('Bottom-Dollar Marketse',)